
p{
  font-family: sans-serif;
  font-weight: 550;
  font-size: 17px;
  line-height: 1.6em;
  padding-left: 16px;
  padding-right: 16px;
  display:flex;

}

.Primary-image {
  background-clip:content-box;
  background-size: contain;
  min-width: 100%;
  max-height: 90vmin;

}

.Item-title{
  font-style: "bold";
  font-family: sans-serif;
  font-size: 12pt;
  text-align: left;
}

.Item-medium, .Item-year{
  font-weight: 500;
  font-family: sans-serif;
  font-size: 12pt;
  color: #4a4a4a;
  text-align: left;
}

.Item-artist{
  text-align: left;
  font-family: sans-serif;
}

.App-header {
  background-color: #ffffff;
  font-size: calc(10px + 2vmin);
  color: #333333;
}

.App-link {
  color: #61dafb;
}
