
p{
  font-family: sans-serif;
  font-weight: 550;
  font-size: 13pt;
  line-height: 2.8em;
  padding-left: 16px;
  padding-right: 16px;
  color: #4a4a4a;

}

.Navbar{
  background-color: #e4002b;
  display: grid;
  grid-column-gap: 24px;
  align-content: flex-end;
  width: 100%;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 9px;
  box-shadow: 0px 3px 10px rbga(0,0,0,.5);
}


.Highlights-button{
  grid-row: 1;
  grid-column: 1;
  padding-left: 9px;
  padding-top: 4px;
}

.App-title{
  grid-row: 1;
  grid-column: 2/4;
  text-align: left;
  font-family: sans-serif;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 9px;
  font-weight: 550;
  font-size: 13pt;
  color: #Fafafa;
}


.Signed-in{
  grid-row: 1;
  grid-column: 8;
  margin-right: 16px;
  margin-top: 2px;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  border-width:1.5px;
  border-color: #fafafa;
  border-style: solid;
  box-shadow: 0px 3px 10px 10px rbga(0,0,0,.8);
}

.Button-listen{
  grid-row: 2;
  grid-column: 4;
  padding-left: 50px;
  padding-top: 10px;
  padding-right: 50px;

}

.Button-save{
  padding-top: 10px;
  grid-row: 2;
  grid-column: 4;

}

.Button-load{
  display: none;
}

.Button-pause{
  display: none;
}



.Save-modal{
  display: none;
  border-radius: 5px;
  background-color: #ffffff;
}

.Item-year{
  font-weight: 400;
  padding-left: 16px;
  grid-row: 3;
  grid-column: 1/1;
  text-decoration: none;
}

.Primary-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 550px;
  grid-row: 1;
  grid-column: 1 / span 4;
  padding-bottom: 20px;
  border-style: none;


    /* Create the parallax scrolling effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.Gallery {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.Item-title{
  font-style: "bold";
  font-family: sans-serif;
  font-size: 15pt;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 16px;
  text-align: left;
  grid-row: 2;
  grid-column: 1/2;

}

.Grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-bottom: 10px
}

.Item-description{
  grid-column: 1 /4;

}

.Item-medium, .Item-year{
  font-weight: 500;
  font-family: sans-serif;
  font-size: 11pt;
  color: #4a4a4a;
  text-align: left;
  padding-top: 5px;
  padding-left: 16px;
  line-height: 0.5em;
  grid-column: 1/5;
}

.Item-artist, .Credit-line{
  text-align: left;
  font-family: sans-serif;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12pt;
  grid-column: 1/4;
}


.App-header {
  background-color: #ffffff;
  font-size: calc(10px + 2vmin);
  color: #333333;
  margin: -8px;
}

.Welcome, .Allow-camera{
  background-color: #EB222A;
  width: 100%;
  min-height: 100%;
  margin: -8px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-bottom: 20vmin;

}

.Angle-TL{
  padding-top: 20px;
  padding-left: 16px;
  padding-bottom: 20px;
  grid-row:2;
  grid-column: 2/2;

}

.Angle-BR{
  padding-top: 20px;
  padding-right: 16px;
  grid-row: 4;
  grid-column: 4/4;

}

.Met-logo{
  grid-row: 3;
  grid-column: 3/3;
}

.Title-text, .Intro-text {
  color: #6B172E;
  font-weight: bold;
  font-size: 37px;
  font-family: sans-serif;
  padding-top: 50px;
  padding-right: 50px;
}

.Title-text{
  padding-left: 24px;
  grid-row: 5;
  grid-column: 2/4;
}

.Subtitle-text{
  grid-row:6;
  grid-column: 2/4;
  padding-top: 32px;
  padding-left: 24px;
  color: #A7182F;
  font-weight: bold;
  font-size: 37px;
  font-family: sans-serif;
}

.Next-button{
  grid-row:6;
  grid-column: 4/4;

}

.Allow-camera{
  padding-top: 24px;
  grid-row: 2
}

.Allow-access-button{
  grid-row: 3;
  grid-column: 1/ span 4;
  align-content: center;
  margin-top: 70vmin;
  margin-left: 65px;
  margin-right: 65px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 21px;
  font-weight: bold;
  font-size: 22px;
  font-family: sans-serif;
  border-radius: 34px;
  box-shadow: 0px 12px 12px 0px rgba(0,0,0,.24);
  cursor: pointer;

}

a:link{
  text-decoration: none;
  color: #333333;
}

a:hover, a:visited{
  font-weight: bolder;
  color:#333333;
}


.languages{
  grid-row: 5;
  grid-column: 1;
  padding-left:10px;
  padding-right: 10px;
  font-variant: small-caps;
  font-family: sans-serif;
  font-weight: regular;
  background-color: #fafafa;

}

.english{
  margin-right: 15px;
}

.Camera-view{
  width: 100%;
  display: grid;
  padding-bottom: 50px;

}

.Scan-area{
  padding-top: 50px;
  grid-row:2;
  grid-column: 1/ 4;
}

.back{
  grid-row: 1;
  grid-column: 1;
  font-size: 17px;
  font-weight: bold;
  color: #6B172E;
  font-family: sans-serif;
  text-decoration: none;
  padding-left: 24px;

}

.App-link {
  color: #61dafb;
}

.Button-scan{
  right: 10px;
  bottom: 30px;
  position: fixed;
}

.Modal-style{
  display: grid;
  background-color: none;
}

.Login-modal{
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.24);

}

.Modal-title{
  grid-row: 1;
  grid-column: 1;
  font-weight: 550;
  font-size: 27px;
  font-family: sans-serif;
  padding-bottom: 50px;
}

.Button-close{
  grid-row: 2;
  grid-column: 3;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  color: #6B172E;
  font-family: sans-serif;
  text-decoration: none;
  padding-left: 24px;
  padding-right: 24px;
}

.Button-login{
  grid-row:2;
  grid-column: 4;
}
